<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MSc in Software and Systems Developoments in Global Environemnt Sept. 2015 to June 2019</h1>
            <span>University of Oulu</span>
            <span><address>Oulu, Finland</address></span>
        </header>
        <p>
            <em>Thesis: Systematic Literature Review of agile software developments: Benefits and implications</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Bachelor in Computer systems and networking 2010 to 2014</h1>
            <span>Kharkiv National University of Radio Electronics</span>
            <span><address>Kharkiv, Ukraine</address></span>
        </header>
        <p>
            <em>majors: Advance Network security, Advance Network management, Project Management, Software Testing, Scientific Research theory</em>
        </p>
        <p>
            <em>Thesis: The next generation IPV6 network and it's security</em>
        </p>
    </article>
     <article>
        <header>
            <h1>CCNA Certification April - June, 2014</h1>
            <span>Cisco Network Center</span>
            <span><address>Kharkiv, Ukraine</address></span>
        </header>
        <p>
            <em>CCNA (No. 415343161446GPZL</em>
        </p>
    </article>
</section>
