<section class="thirteen columns">
    <h1>EMPLOYMENT</h1>
    <article>
        <header>
            <h1>Data Analyst & Machine Learning</h1>
            <span><address> Intergrify, Helsinki, Finland</address><time>October, 2020 to present</time></span>
        </header>
        <p><ul style="list-style-type:disc">
            <p><li>Data analysis with Numpy</li>
            create arrays, arrays manipulation, image processing (turning images to numpy arrays), descriptive statistical analysis, mathplotlib
            <li>Data analysis with Pandas</li>
            descriptive state, cleaning of data, extracting useful information, groupby, styling, apply, reshaping and restructuring
            <li>Data Visualization</li>
            Matplotlib, Seaborn, Plotly</p>
        </ul></p>
    </article>
    <article>
        <header>
            <h1>Delivery Partner</h1>
            <span><address>Wolt Delivery Services, Finland</address><time>2017 to present</time></span>
        </header>
        <p>delivery of consumer products to customers destination</p>
    </article>
    <article>
        <header>
            <h1>Delivery man</h1>
            <span><address>Kaleva 365, Oulu, Finland</address><time>2016 to 2019</time></span>
        </header>
        <p>delivery of mails and other informational material to customers post boxes</p>
    </article> 
    <article>
        <header>
            <h1>Trainee/Research assistance (IOT network security and analysis </h1>
            <span> </span>
            <span><address>University of Oulu (OUSPG),Oulu ,Finland</address><time>2016</time></span>
        </header>
        <p><ul style="list-style-type:disc">
            <li>Designing and implementing of workable internet of things (IOT)</li>
            <li>Monitoring and analysis of device data in order to detect software vulnerabilities</li>
            <li>Presenting of report to the group and stakeholders</li>
        </ul></p>           
    </article>
    <article>
        <header>
            <h1>Media Operation Officer(Voulunteer)</h1>
            <span><address>Union of European Football Association, Ukraine</address><time>May - Auguest, 2012</time></span>
        </header>
        <p> Responsible for the handling of media communication facilities, UEFA media booking systems procedures and timings</p>
    </article>
</section>
