<section class="thirteen columns">
    <h1>RELEVANT SKILLS</h1>
    <article>
        <header>
            <h1>Technical skills</h1>
        </header>
        <p><ul style="list-style-type:disc">
            <li>Data analysis and machine learning</li>
            <li>Comfortable working in range of OS eg. Windows, IOS, Andriod, Linux</li>
            <li>Proficient use of Microsoft office suites(Words, Excel, powerpoint)</li>
            <li>Good understanding of programming languages like; Python</li>
            <li>Version control system (Git & Github)</li>
            <li>software project management using agile methodologies</li>
        </ul></p>
 
        <header>
            <h1>Team work</h1>
        </header>
        <p><ul style="list-style-type:disc">
            <li>Regularly worked in groups during academic projects at the university, and have taken part in IT start-up events, which involved coordinating and brainstorming with other people in order to come up with solutions</li>
            <li>Worked effectively as part of a trainee team at the Oulu university secure programming group (OUSPG), and conveniently adapted to the need of the team</li>
        </ul></p>
        <header>
            <h1>Communication skills</h1>
        </header>
        <p><ul style="list-style-type:disc">
            <li>Confident verbal communication skills as demonstrated delivering presentation at university seminars and other students’ events</li>
            <li>In addition to my native language, I feel confident speaking other known languages to enhance proper understanding</li>
        </ul></p>
        <header>
            <h1>Problem solving skills</h1>
        </header>
        <p><ul style="list-style-type:disc">
            <li>I give more attention to details and carefully approach matters in an unbiased and non-personal manner</li>
            <li>Actively listens and asking appropriate questions when needed, so to get to the root of any problem</li>
        </ul></p>

    </article>
</section>